body {
  margin: 0;
  font-family: 'Lexend', monospace;
  background-image: url('repeatyblaufox.png');
}

 /* The side navigation menu */
.sidebar {
  margin: 0px;
  padding: 0px;
  width: 200px;
  margin-top: 70px;
  background-color: #004A7F;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0094FF;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #FFFFFF;
  color: black;
}

.footer {
	position: static;
	padding: 5px 0 5px 0;
	bottom:0;
	width: 100%;
	background-color: #373738;
	color: white;
	text-align: center;
	z-index: 1;
	margin: 0 0 0px 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0094FF;
  color: white;
  text-align: center;
  z-index: 1;
}

.header p {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	white-space: nowrap;
	line-height: 50px;
	text-align: center;
	-moz-transform: translateX(50%);
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	-moz-animation: scroll-left 10s linear infinite;
	-webkit-animation: scroll-left 10s linear infinite;
	animation: scroll-left 20s linear infinite;
}


@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(50%);
	}
	100% {
		-moz-transform: translateX(-80%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(50%);
	}
	100% {
		-webkit-transform: translateX(-80%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(50%);
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
	}
	100% {
		-moz-transform: translateX(-80%);
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%);
	}
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 1px 16px;
  text-align: center;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.collapsible {
  background-color: #c3d1e8;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* info boxes */ 
.infobox {
  position: relative;
  background-color: #ededed;
  color: black;
  display: inline-block;
  padding: 1%;
  text-align: center;
  line-height: 1;
}
.subinfo {
  position: relative;
  background-color: #dedede;
  color: black;
  margin:0.5%;
  display: inline-block;
  text-align: left;
  padding: 0.5%
}